Import pakietu pandas

In [72]:
import pandas as pd

Wczytanie pliku state-abbrevs.csv - wczytanie pełnej nazwy stanu oraz skrótu stanu.

In [83]:
abbrevs = pd.read_csv('state-abbrevs.csv', 
                        sep='|', 
                        skiprows=1, 
                        names=['Pełna nazwa', 'Stan'])
abbrevs

             Pełna nazwa Stan
0                Alabama   AL
1                 Alaska   AK
2                Arizona   AZ
3               Arkansas   AR
4             California   CA
5               Colorado   CO
6            Connecticut   CT
7               Delaware   DE
8   District of Columbia   DC
9                Florida   FL
10               Georgia   GA
11                Hawaii   HI
12                 Idaho   ID
13              Illinois   IL
14               Indiana   IN
15                  Iowa   IA
16                Kansas   KS
17              Kentucky   KY
18             Louisiana   LA
19                 Maine   ME
20               Montana   MT
21              Nebraska   NE
22                Nevada   NV
23         New Hampshire   NH
24            New Jersey   NJ
25            New Mexico   NM
26              New York   NY
27        North Carolina   NC
28          North Dakota   ND
29                  Ohio   OH
30              Oklahoma   OK
31                Oregon   OR
32              Maryland   MD
33         Massachusetts   MA
34              Michigan   MI
35             Minnesota   MN
36           Mississippi   MS
37              Missouri   MO
38          Pennsylvania   PA
39          Rhode Island   RI
40        South Carolina   SC
41          South Dakota   SD
42             Tennessee   TN
43                 Texas   TX
44                  Utah   UT
45               Vermont   VT
46              Virginia   VA
47            Washington   WA
48         West Virginia   WV
49             Wisconsin   WI
50               Wyoming   WY

Wczytanie pliku state-areas.csv - wczytanie pełnej nazwy stanu i powierzchni.

In [84]:
areas = pd.read_csv('state-areas.csv', sep=';', skiprows=1, names=['Pełna nazwa', 'Km2'])
areas

             Pełna nazwa     Km2
0                Alabama   52423
1                 Alaska  656425
2                Arizona  114006
3               Arkansas   53182
4             California  163707
5               Colorado  104100
6            Connecticut    5544
7               Delaware    1954
8                Florida   65758
9                Georgia   59441
10                Hawaii   10932
11                 Idaho   83574
12              Illinois   57918
13               Indiana   36420
14                  Iowa   56276
15                Kansas   82282
16              Kentucky   40411
17             Louisiana   51843
18                 Maine   35387
19              Maryland   12407
20         Massachusetts   10555
21              Michigan   96810
22             Minnesota   86943
23           Mississippi   48434
24              Missouri   69709
25               Montana  147046
26              Nebraska   77358
27                Nevada  110567
28         New Hampshire    9351
29            New Jersey    8722
30            New Mexico  121593
31              New York   54475
32        North Carolina   53821
33          North Dakota   70704
34                  Ohio   44828
35              Oklahoma   69903
36                Oregon   98386
37          Pennsylvania   46058
38          Rhode Island    1545
39        South Carolina   32007
40          South Dakota   77121
41             Tennessee   42146
42                 Texas  268601
43                  Utah   84904
44               Vermont    9615
45              Virginia   42769
46            Washington   71303
47         West Virginia   24231
48             Wisconsin   65503
49               Wyoming   97818
50  District of Columbia      68
51           Puerto Rico    3515

In [ ]:
Wczytanie pliku state-population.csv - wczytanie stanu, wieku, roku i liczby ludności.

In [85]:
population = pd.read_csv('state-population.csv', 
                                    sep=',',
                                    skiprows=1,
                                    dtype=str,
                                    names=['Stan', 'Wiek', 'Rok', 'Liczba ludności'])
population

     Stan     Wiek   Rok Liczba ludności
0      AL  under18  2012         1117489
1      AL    total  2012         4817528
2      AL  under18  2010         1130966
3      AL    total  2010         4785570
4      AL  under18  2011         1125763
...   ...      ...   ...             ...
2539  USA    total  2010       309326295
2540  USA  under18  2011        73902222
2541  USA    total  2011       311582564
2542  USA  under18  2012        73708179
2543  USA    total  2012       313873685

[2544 rows x 4 columns]

In [ ]:
Scalenie tabel z danymi z plików state-abbrevs oraz state-areas.

In [86]:
firstMerge = abbrevs.merge(areas, 
                             how='left', 
                             left_on = ['Pełna nazwa'], 
                             right_on=['Pełna nazwa'])
firstMerge

             Pełna nazwa Stan     Km2
0                Alabama   AL   52423
1                 Alaska   AK  656425
2                Arizona   AZ  114006
3               Arkansas   AR   53182
4             California   CA  163707
5               Colorado   CO  104100
6            Connecticut   CT    5544
7               Delaware   DE    1954
8   District of Columbia   DC      68
9                Florida   FL   65758
10               Georgia   GA   59441
11                Hawaii   HI   10932
12                 Idaho   ID   83574
13              Illinois   IL   57918
14               Indiana   IN   36420
15                  Iowa   IA   56276
16                Kansas   KS   82282
17              Kentucky   KY   40411
18             Louisiana   LA   51843
19                 Maine   ME   35387
20               Montana   MT  147046
21              Nebraska   NE   77358
22                Nevada   NV  110567
23         New Hampshire   NH    9351
24            New Jersey   NJ    8722
25            New Mexico   NM  121593
26              New York   NY   54475
27        North Carolina   NC   53821
28          North Dakota   ND   70704
29                  Ohio   OH   44828
30              Oklahoma   OK   69903
31                Oregon   OR   98386
32              Maryland   MD   12407
33         Massachusetts   MA   10555
34              Michigan   MI   96810
35             Minnesota   MN   86943
36           Mississippi   MS   48434
37              Missouri   MO   69709
38          Pennsylvania   PA   46058
39          Rhode Island   RI    1545
40        South Carolina   SC   32007
41          South Dakota   SD   77121
42             Tennessee   TN   42146
43                 Texas   TX  268601
44                  Utah   UT   84904
45               Vermont   VT    9615
46              Virginia   VA   42769
47            Washington   WA   71303
48         West Virginia   WV   24231
49             Wisconsin   WI   65503
50               Wyoming   WY   97818

In [ ]:
Finalne scalenie tabeli z danymi z pliku state-population z danymi z pierwszego scalenia (z powyżej).

In [87]:
secondMerge = population.merge(firstMerge, 
                               how='right', 
                               left_on=['Stan'], 
                               right_on=['Stan'])
secondMerge

     Stan     Wiek   Rok Liczba ludności Pełna nazwa    Km2
0      AL  under18  2012         1117489     Alabama  52423
1      AL    total  2012         4817528     Alabama  52423
2      AL  under18  2010         1130966     Alabama  52423
3      AL    total  2010         4785570     Alabama  52423
4      AL  under18  2011         1125763     Alabama  52423
...   ...      ...   ...             ...         ...    ...
2443   WY  under18  1993          137458     Wyoming  97818
2444   WY    total  1991          459260     Wyoming  97818
2445   WY  under18  1991          136720     Wyoming  97818
2446   WY  under18  1990          136078     Wyoming  97818
2447   WY    total  1990          453690     Wyoming  97818

[2448 rows x 6 columns]